<!DOCTYPE html>
<html>
  <head>
      <title>Castro de imóvel</title>
      <script src="{{jquery}}"></script>
      <script src="{{app_js}}"></script>
  </head>
  <body>
    <div id="property-form">
      <form>
        <select class="property-type">
          <option value="" disabled selected>Tipo</option>
          {{property_types|raw}}
        </select>
        <select class="property-responsible">
          <option value="" disabled selected>Responsável</option>
          {{users|raw}}
        </select>
        <textarea class="property-photos" placeholder="Fotos"></textarea>
        <input class="property-street" type="text" placeholder="Rua"/>
        <input class="property-number" type="text" placeholder="Número"/>
        <input class="property-city" type="text" placeholder="Cidade"/>
        <select class="property-state">
          <option value="" disabled selected>Estado</option>
          <option value="sp">São Paulo</option>
          <option value="rj">Rio de Janeiro</option>
        </select>
        <textarea class="property-description" placeholder="Descrição"></textarea>

        <p>Adicione multiplas fotos colocando ";" entre os valores. Os valores deverão ser urls válidas para imagens.</p>
        <a href="/">Home</a>
        <a href="/" class="property-submit">Salvar
        Imóvel</a>
      </form>
    </div>
  </body>
</html>
