<!DOCTYPE html>
<html>
  <head>
      <title>Castro de contato</title>
      <script src="{{jquery}}"></script>
      <script src="{{app_js}}"></script>
  </head>
  <body>
    <div id="user-form">
      <form>
        <input class="user-name" type="text" placeholder="Nome"/>
        <input class="user-phones" type="text" placeholder="Telefones"/>
        <input class="user-emails" type="text" placeholder="E-mails"/>
        <p>Adicione multiplos telefones e e-mails colocando ";" entre os valores</p>
        <a href="/">Home</a>
        <a href="/" class="user-submit">Salvar
        Contato</a>
      </form>
    </div>
  </body>
</html>
