@mixin element($element) {
	&__#{$element} {
		@content;
	}
}

@mixin modifier($modifier) {
	&--#{$modifier} {
		@content;
	}
}

@mixin aspect-ratio($width, $height, $selector) {
	background-color: black;
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > #{$selector} {
		bottom: 0;
    left: 0;
		position: absolute;
    right: 0;
		top: 50%;
		transform: translateY(-50%);
  }
}
