.field-container {
  &.inline {
    display: inline-block;
    margin-right: 10px;
  }
}

.form-container {
  @include element(row) {
    margin: 2em auto;
  }
}

form {
  fieldset {
    margin: 3em auto;
  }

  .form-image {
    overflow: hidden;
    @include aspect-ratio(16, 9, img);
    width: 300px;
  }
}
